
[submodule "ABC-Strategie-GitHub/abc_x_databit"]
	path = ABC-Strategie-GitHub/abc_x_databit
	url = git@github.com:ABC-Strategie-GitHub/abc_x_databit.git
	branch = 16.0
[submodule "ABC-Strategie-GitHub/abc_base_l10n-italy"]
	path = ABC-Strategie-GitHub/abc_base_l10n-italy
	url = git@github.com:ABC-Strategie-GitHub/abc_base_l10n-italy.git
	branch = 16.0
[submodule "ABC-Strategie-GitHub/l10n-italy"]
	path = ABC-Strategie-GitHub/l10n-italy
	url = git@github.com:ABC-Strategie-GitHub/l10n-italy.git
	branch = 16.0
[submodule "ABC-Strategie-GitHub/abc_csc_pro"]
	path = ABC-Strategie-GitHub/abc_csc_pro
	url = git@github.com:ABC-Strategie-GitHub/abc_csc_pro.git
	branch = 16.0

[submodule "ABC-Strategie-GitHub/abc_riferimento_amministrazione"]
	path = ABC-Strategie-GitHub/abc_riferimento_amministrazione
	url = git@github.com:ABC-Strategie-GitHub/abc_riferimento_amministrazione.git
	branch = 16.0

[submodule "ABC-Strategie-GitHub/extra_l10n-italy"]
	path = ABC-Strategie-GitHub/extra_l10n-italy
	url = git@github.com:ABC-Strategie-GitHub/extra_l10n-italy.git
	branch = 16.0


[submodule "ABC-Strategie/OM_l10n-italy-fiscal_epos_print"]
	path = ABC-Strategie/OM_l10n-italy-fiscal_epos_print
	url = git@github.com:ABC-Strategie/OM_l10n-italy-fiscal_epos_print.git
	branch = 16.0
