[submodule "AlessandroSkab/demo-contabilita-italiana-Odoo-14"]
	path = AlessandroSkab/demo-contabilita-italiana-Odoo-14
	url = git@github.com:AlessandroSkab/demo-contabilita-italiana-Odoo-14.git
	branch = main

[submodule "AlessandroSkab/afe-14.0"]
	path = AlessandroSkab/afe-14.0
	url = git@github.com:AlessandroSkab/afe-14.0.git
	branch = main

[submodule "airsrl/l10n-italy-MIG-14.0-fiscal_epos_print"]
	path = airsrl/l10n-italy-MIG-14.0-fiscal_epos_print
	url = git@github.com:airsrl/l10n-italy-MIG-14.0-fiscal_epos_print.git
	branch = fix_refound_reprint_receipt
